h1{
    text-align: center;
    font-size:x-large;
}

p{
    font-size: medium;
}

body{
    background-color: white;
}

#classInput, #prereqInput {
    padding: 8px;
    margin-right: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#addClassBtn, #addPrereqBtn {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #4c5baf;
    border-radius: 5px;
    background-color: rgb(61, 76, 188);
    color: white;
    font-size: 14px;
}

#classList {
    list-style-type: none;
    padding: 0;
    color: black;
}

#classList li {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}